* {
  font-family: 'Raleway';
}

:root {
  --blue: rgb(2, 183, 226);
  --blue-hover: rgba(2, 183, 226, 0.8);
  --dark-grey: #404041;
  --light-grey: #8c8c8e;
  --line-color: #d8d9d9;
  --green: rgb(69, 171, 107);
  --green-hover: rgba(69, 171, 107, 0.8);
}

.App {
    margin: auto;
    width: 50%;
  }

button {
  height: 100%;
  background: none;
  border: none;
}
/* Technically shouldn't remove the button outline as it assists screen readers */
button:focus { outline:0 !important; }

h2 {
  margin: 0 5px;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--dark-grey);
}

h4 {
  margin: 0 5px;
  font-size: 1em;
  font-weight: 500;
  color: var(--light-grey);
}

svg {
  height: 100%;
  margin: 0 5px;
}

.nav {
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tool-button {
  border: 1px solid var(--line-color);
  height: 50px;
  margin: 8px 4px;
  padding: 0 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-grey);
}

.button {
  border: 1px solid var(--line-color);
  height: 50px;
  margin: 8px 4px;
  padding: 0 15px;
  border-radius: 10px;
  display: block;
  align-items: center;
  justify-content: center;
}

.back {
  background-color: var(--green);
  color: white;
  transition: all 0.3s;
}
.back:hover {
  background-color: var(--green-hover);
  transition: all 0.3s;
}
.back:active {
  transform: translateY(2px);
}

.toolbar {
  height: 65px;
  border: 1px solid var(--line-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.zoom-buttons {
  border: 1px solid var(--line-color);
  background: none;
  height: 50px;
  margin: 8px 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoom-status {
  width: 100px;
  text-align: center;
  padding: 10px;
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
  height: 100%;
}

.bell {
  background-color: var(--blue);
  color: white;
  transition: all 0.3s
}
.bell:hover {
  background-color: var(--blue-hover);
}
.bell:active {
  transform: translateY(2px);
}

.bell-default {
  background-color: white;
  color: var(--blue);
  transition: all 0.3s
}
.bell-default:hover {
  background-color: var(--blue);
  color: white;
}
.bell-default:active {
  transform: translateY(2px);
}

/* Removing the down arrow from drop-down menu */
.dropdown-toggle::after {
  content: none;
}

.comments-block {
  border: 1px solid var(--line-color);
  border-radius: 10px;
  position: absolute;
  top: 154px;

  width: 475px;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: all 1s
}
.comments-block-hidden {
  display: none;
  transition: all 1s
}

.approved {
  background-color: var(--green);
  color: white;
  transition: all 0.2s;
  margin: 20px 0 5px 0;
}
.approved:hover {
  background-color: var(--green-hover);
  transition: all 0.2s;
}
.approved:active {
  transform: translateY(2px);
}

.mark-approved {
  height: 50px;
  padding: 10px;
  color: white;
}